a:link, a:active, a:visited{
    color: white;
    transition-duration: 0.4s;
}
a:hover{color: black;}

html{
    background-color: gray;
}
.navbar a{
    text-decoration: none;
    position: relative;
    top: 5px;
    left: 30px;
}
.navbar{
    background-color: rgb(155, 155, 155);
    position: relative;
    top: -8px;
    left: -8px;
    width: 100.8%;
    height: 60px;
    font-size: 30px;
}
.navbar a:nth-child(2){
position: relative;
left: 130px;
top: -10px;
}
.navbar a:nth-child(3){
    position: relative;
    left: 155px;
    top: -10px;
}
.navbar a:nth-child(4){
    position: relative;
    left: 175px;
    top: -10px;
}

.navbar a:nth-child(5){
    position: relative;
    left: 185px;
    top: -10px;
}

.border:hover {
    transition-duration: 0.4s;
    border: 4px solid black;
    padding: 5px;
}

.border {
    transition-duration: 0.4s;
    border: 4px solid black;
    padding: 5px;
    border-radius: 360px;
    color: white;
    transition: 200ms;
}

a {
    box-shadow: inset 0 0 0 0 rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    margin: 0.25rem;
    padding: 0.25rem;
  }
  .border:hover {
    box-shadow: inset 150px 0 0 0 orange;
    color: white;

  }


  .game{
      font-family: 'Press Start 2P', cursive;
  }
  .game button{
      background-color: black;
  }

  #enemy2, #enemy3{
      display: none;
  }
  #enemy1{
      display: contents;
  }

.game{
    display: grid;
    place-items: center;
    color:white;
    background-color: black;
    border: 10px solid white;
    width: 50vw;
    height: 75vh;
    position: relative;
    left: 22.5vw;
}

.images11{
    display: grid;
    place-items: center;
}

