a:link, a:active, a:visited{
    color: white;
    transition-duration: 0.4s;
}
a:hover{color: black;}

html{
    background-color: gray;
}
.navbar a{
    text-decoration: none;
    position: relative;
    top: 5px;
    left: 30px;
}
.navbar{
    background-color: rgb(155, 155, 155);
    position: relative;
    top: -8px;
    left: -8px;
    width: 1535px;
    height: 60px;
    font-size: 30px;
}
.navbar a:nth-child(2){
position: relative;
left: 130px;
top: -10px;
}
.navbar a:nth-child(3){
    position: relative;
    left: 155px;
    top: -10px;
}
.navbar a:nth-child(4){
    position: relative;
    left: 175px;
    top: -10px;
}
.navbar a:nth-child(5){
    position: relative;
    left: 185px;
    top: -10px;
}

.border:hover {
    transition-duration: 0.4s;
    border: 4px solid black;
    padding: 5px;
}