a:link, a:active, a:visited{
    color: rgb(0, 0, 0);
    transition-duration: 0.4s;
}
a:hover{color: black;}

html{
    background-color: rgb(212, 199, 124);
    overflow-x: hidden;
}

body {
    margin: 0%;
    padding: 0%;   
}

.navbar a{
    text-decoration: none;
    position: relative;
    top: 5px;
    left: 30px;
}

.navbar{
    background-color: rgb(254, 255, 190);
    position: relative;
    top: -8px;
    width: 100%;
    height: 60px;
    font-size: 22px;
    color: white;
    margin: 0;
    padding: 14px 0px;
}

.navbar a:nth-child(2){
position: relative;
left: 185px;
top: -10px;
}

.navbar a:nth-child(3){
    position: relative;
    left: 185px;
    top: -10px;
}

.navbar a:nth-child(4){
    position: relative;
    left: 185px;
    top: -10px;
}

.navbar a:nth-child(5){
    position: relative;
    left: 185px;
    top: -10px;
}

.navbar a:nth-child(6){
    position: relative;
    left: 185px;
    top: -10px;
}

.navbar a:nth-child(7){
    position: relative;
    left: 185px;
    top: -10px;
}

.navbar a:nth-child(8){
    position: relative;
    left: 185px;
    top: -10px;
}

.border:hover {
    transition-duration: 0.8s;
    border: 4px solid black;
    padding: 5px;
}

.border {
    transition-duration: 0.4s;
    border: 4px solid black;
    padding: 5px;
    border-radius: 360px;
    color: rgb(230, 231, 216);
    transition: 200ms;
}

a {
    box-shadow: inset 0 0 0 0 rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    margin: 0.25rem;
    padding: 0.25rem;
  }
  .border:hover {
    box-shadow: inset 150px 0 0 0 rgb(121, 0, 0);
    color: white;

  }

  @media screen and (max-width: 794px) {
    .border:hover {
        transition-duration: 0.4s;
        border: 4px solid black;
        padding: 5px;
    }
    
    .border {
        transition-duration: 0.4s;
        border: 4px solid rgb(251, 255, 194);
        padding: 5px;
        border-radius: 360px;
        color: white;
        transition: 200ms;
    }
    
    a {
        box-shadow: inset 0 0 0 0 rgb(255, 255, 255);
        color: rgb(255, 255, 255);
        margin: 0.25rem;
        padding: 0.25rem;
        font-size: smaller;
      }
      .border:hover {
        box-shadow: inset 150px 0 0 0 rgb(121, 0, 0);
        color: white;
    
      }
  }

  #img {
      position: relative;
      left: 500px;
      top: 150px;
  }

  h1 {
      position: relative;
      left: 625px;
      font-size: 400%;
  }