body {
    overflow-x: hidden;
    margin: 0%;
}

.rekenen {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

a {
    box-shadow: inset 0 0 0 0 rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    margin: 0.25rem;
    padding: 0.25rem;
  }
  .border:hover {
    box-shadow: inset 100px 0 0 0 rgb(121, 0, 0);
    color: white;

  }

  .logo:hover {
  cursor: pointer;
}
a:hover{color: black;}

html{
    background-color: rgb(212, 199, 124);
}
.navbar a{
    text-decoration: none;
    position: relative;
    top: 5px;
    left: 30px;
    
}
.navbar{
    background-color: rgb(254, 255, 190);
    position: relative;
    top: -8px;
    width: 100%;
    height: 60px;
    font-size: 22px;
    color: white;
    margin: 0;
    padding: 14px 0px;
}
.navbar a:nth-child(2){
position: relative;
left: 130px;
top: -10px;
}
.navbar a:nth-child(3){
    position: relative;
    left: 155px;
    top: -10px;
}
.navbar a:nth-child(4){
    position: relative;
    left: 175px;
    top: -10px;
}

.navbar a:nth-child(5){
    position: relative;
    left: 185px;
    top: -10px;
}

.navbar a:nth-child(6){
    position: relative;
    left: 185px;
    top: -10px;
}