body {
    overflow-x: hidden;
    margin: 0%;
}

.rekenen {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    
}

a {
    box-shadow: inset 0 0 0 0 rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    margin: 0.25rem;
    padding: 0.25rem;
  }
  .border:hover {
    box-shadow: inset 100px 0 0 0 rgb(121, 0, 0);
    color: white;

  }

  .logo:hover {
  cursor: pointer;
}
a:hover{color: black;}

html{
    background-color: rgb(212, 199, 124);
}
.navbar a{
    text-decoration: none;
    position: relative;
    top: 5px;
    left: 30px;
    
}
.navbar{
    background-color: rgb(254, 255, 190);
    position: relative;
    top: -8px;
    width: 100%;
    height: 60px;
    font-size: 22px;
    color: white;
    margin: 0;
    padding: 14px 0px;
}
.navbar a:nth-child(2){
position: relative;
left: 130px;
top: -10px;
}
.navbar a:nth-child(3){
    position: relative;
    left: 155px;
    top: -10px;
}
.navbar a:nth-child(4){
    position: relative;
    left: 175px;
    top: -10px;
}

.navbar a:nth-child(5){
    position: relative;
    left: 185px;
    top: -10px;
}

.navbar a:nth-child(6){
    position: relative;
    left: 185px;
    top: -10px;
}


.optellen{
    display: flex;
    width: 100px;
    gap: 10px;
    height: 30px;
    align-items: center;
    color: white;
    font-size: 1.5rem;
}

.aftrekken{
    display: flex;
    width: 100px;
    gap: 10px;
    height: 30px;
    align-items: center;
    color: white;
    font-size: 1.5rem;
}

.vermenigvuldigen{
    display: flex;
    width: 100px;
    gap: 10px;
    height: 30px;
    align-items: center;
    color: white;
    font-size: 1.5rem;
}

.delen{
    display: flex;
    width: 100px;
    gap: 10px;
    height: 30px;
    align-items: center;
    color: white;
    font-size: 1.5rem;
}

.machtsverheffen{
    display: flex;
    width: 100px;
    gap: 10px;
    height: 30px;
    align-items: center;
    color: white;
    font-size: 1.5rem;
}

.percentage{
    display: flex;
    width: 100px;
    gap: 10px;
    height: 30px;
    align-items: center;
    color: white;
    font-size: 1.5rem;
}

.restwaarde{
    display: flex;
    width: 100px;
    gap: 10px;
    height: 30px;
    align-items: center;
    color: white;
    font-size: 1.5rem;
}

.even{
    display: flex;
    width: 100px;
    gap: 10px;
    height: 30px;
    align-items: center;
    color: white;
    font-size: 1.5rem;
}

.rekenen h2{
    color: white;
    padding: 0;
    margin: 30px 0 5px 0;
    
    
}

.border {
    transition-duration: 0.4s;
    border: 4px solid black;
    padding: 5px;
    border-radius: 360px;
    color: rgb(0, 0, 0);
    transition: 200ms;
}

#bereken {
    border: none;
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 3px 10px;
    cursor: pointer;
    transition: 250ms;
}

#bereken:hover {
    background-color: rgb(121, 0, 0);
    transform: translateY(-2px);
    border-radius: 15px;
    border: 6px;

}
#bereken1 {
    border: none;
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 3px 10px;
    cursor: pointer;
    transition: 250ms;
}

#bereken1:hover {
    background-color: rgb(121, 0, 0);
    transform: translateY(-2px);
    border-radius: 15px;
    border: 6px;

}
#bereken2 {
    border: none;
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 3px 10px;
    cursor: pointer;
    transition: 250ms;
}

#bereken2:hover {
    background-color: rgb(121, 0, 0);
    transform: translateY(-2px);
    border-radius: 15px;
    border: 6px;

}
#bereken3 {
    border: none;
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 3px 10px;
    cursor: pointer;
    transition: 250ms;
}

#bereken3:hover {
    background-color: rgb(121, 0, 0);
    transform: translateY(-2px);
    border-radius: 15px;
    border: 6px;

}
#bereken4 {
    border: none;
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 3px 10px;
    cursor: pointer;
    transition: 250ms;
}

#bereken4:hover {
    background-color: rgb(121, 0, 0);
    transform: translateY(-2px);
    border-radius: 15px;
    border: 6px;

}
#bereken5 {
    border: none;
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 3px 10px;
    cursor: pointer;
    transition: 250ms;
}

#bereken5:hover {
    background-color: rgb(121, 0, 0);
    transform: translateY(-2px);
    border-radius: 15px;
    border: 6px;

}
#bereken6 {
    border: none;
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 3px 10px;
    cursor: pointer;
    transition: 250ms;
}

#bereken6:hover {
    background-color: rgb(121, 0, 0);
    transform: translateY(-2px);
    border-radius: 15px;
    border: 6px;

}
#bereken7 {
    border: none;
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 3px 10px;
    cursor: pointer;
    transition: 250ms;
}

#bereken7:hover {
    background-color: rgb(121, 0, 0);
    transform: translateY(-2px);
    border-radius: 15px;
    border: 6px;

}